<div class="card">

  <div class="row">
    <div class="col-8 detail-image mt-3">
      <app-carousel [arrayImages]="product.pictures" class="detail-image" ></app-carousel>
      <!-- <img class="detail-image"
       [src]="product.thumbnail"
      alt="Card image cap"> -->
    </div>
    <div class="col-4 mt-3">
      <div class="px-3">
        <span class="txt-product-resume"> Nuevo - {{ product.sold_quantity }} vendidos</span>
        <h2> {{ product.title }} </h2>
        <span class="txt-product-value"> {{ product.price | currency }} </span>
        <button type="button"
                class="btn btn-primary btn-lg btn-block btn-buy mt-5">
                Compar
        </button>
      </div>
    </div>
  </div>


  <div class="card-body">
    <h5 class="card-title">
      Descripción del producto
    </h5>
    <p class="card-text">
     {{ product.warranty }}
     <br>
     Aquí deberia ir la garantía del producto, el texto de la descripción, pero la respuesta de este endpoint no provee dicha información (descripción).
    </p>

  </div>
</div>
