<div class="card">

  <div class="row">
    <div class="col-8 detail-image">
      <img class="detail-image"
      src="../../../../assets/images/camera.png"
      alt="Card image cap">
    </div>
    <div class="col-4 mt-3">
      <div class="px-3">
        <span class="txt-product-resume"> Resume </span>
        <h2> product title </h2>
        <span class="txt-product-value"> $ 999.99 </span>
        <button type="button"
                class="btn btn-primary btn-lg btn-block btn-buy mt-5">
                Compar
        </button>
      </div>
    </div>

  </div>


  <div class="card-body">
    <h5 class="card-title">
      Card title
    </h5>
    <p class="card-text">
      This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
    </p>

  </div>
</div>
