<div  class="card mb-3">
  <div class="row g-0">
    <div class="col-md-3">
      <img src="../../../../assets/images/camera.png"
            class="img-fluid rounded-start px-2 py-2 card-image"
            alt="Foto producto">
    </div>
    <div class="col-md-8">
      <div class="card-body row">
        <h5 class="card-title">
          Card title
        </h5>
        <div class="col-md-9">
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
        <div class="col-md-3">

            <small class="text-muted">
              Last updated 3 mins ago
            </small>

        </div>
      </div>
    </div>
  </div>
</div>
