<router-outlet></router-outlet>
<h3 class="pt-5">Busqueda relacionada</h3>
<app-no-data></app-no-data>
<div class="container mt-4">
  <div *ngFor="let item of arrayItems">
    <app-card-item  [id]="item.id"
                    [title]="item.title"
                    [price]="item.price"
                    [imageUrl]="item.thumbnail"
                    [objItem]="item"
                    (click)="redirectToUrlParam(item.id)"></app-card-item>
  </div>

  <app-pagination [result]="arrayResult.paging"
                  (nextPage)="getItemsByQuery()"></app-pagination>

</div>
