<div class="input-group mb-3 search-bar-width">
  <input type="text" class="form-control"
          placeholder="Nunca dejes de buscar"
          aria-label="Nunca dejes de buscar"
          aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary"
            type="button"
            id="button-addon2"
            style="background-color: aliceblue;">
      <img src="../../../../assets/ico/ic_Search.png" alt="search_btn">

    </button>
  </div>
</div>
